@{
    ViewBag.Title = "Home Page";
}

@using TimeLogging.Models
@model List<TimeLogViewModel>

<table>

</table>

<div>
    <h2>5 Most Recent Time Logs</h2>
    <table border="1">
        @foreach (TimeLogViewModel objTimeLog in Model)
        {
            <tr>
                <td>@objTimeLog.UserId.ToString()</td>
                <td>@objTimeLog.StartTime.ToLocalTime()</td>
                <td>@objTimeLog.EndTime.ToLocalTime()</td>
                <td>@objTimeLog.Billable.ToString()</td>
                <td>@objTimeLog.Comment</td>
            </tr>
        }
    </table>

    <h2>Add New Time Log</h2>
    
    @*<form method="post">*@
    @using (Html.BeginForm("SubmitTimeLog", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <fieldset>
            @*<legend>Enter Time Log</legend>*@
            <div>
                <label for="StartTime">Start Time:</label>
                <input type="datetime-local" name="StartTime" value="" />
            </div>
            <div>
                <label for="EndTime">End Time:</label>
                <input type="datetime-local" name="EndTime" value="" />
            </div>
            <div>
                <label for="Billable">Billable:</label>
                <input type="checkbox" name="Billable" value="" />
            </div>
            <div>
                <label for="Comment">Comment:</label>
                <input type="text" name="Comment" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    }
    @*</form>*@

</div>