@{
    ViewBag.Title = "Home Page";
}

@using TimeLogging.Models
@model List<TimeLogViewModel>

<table>

</table>

<div>
    <h2>5 Most Recent Time Logs</h2>
    <table border="1">
        @foreach (TimeLogViewModel objTimeLog in Model)
        {
            <tr>
                <td>@objTimeLog.UserId.ToString()</td>
                <td>@objTimeLog.StartTime.ToLocalTime()</td>
                <td>@objTimeLog.EndTime.ToLocalTime()</td>
                <td>@objTimeLog.Billable.ToString()</td>
                <td>@objTimeLog.Comment</td>
            </tr>
        }
    </table>

    <h2>Add New Time Log</h2>
</div>